//====================================================================================================
main {
  position: relative;
}

.background {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% / 3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -20;
}
.background.bg1 {
  top: 0;
  background-image: url("../img/blur.png");
}
.background.bg2 {
  top: calc(100% / 3);
  background-image: url("../img/blur2.png");
}
.background.bg3 {
  top: calc((100% / 3) * 2);
  background-image: url("../img/blur3.png");
}

.page.skygen::before {
  content: none;
}

.hero::after {
  content: "";
  position: absolute;
  top: 65px;
  right: 0;
  width: 100%;
  height: 532px;
  background-image: url("../img/brosla-bg-mb.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: -10;
}
@media (min-width: $mobileSmall) {
  .hero::after {
    height: 600px;
    transform: rotate(-3.08deg);
  }
}
@media (min-width: $mobile) {
  .hero::after {
    top: 105px;
    right: -16px;
    height: 800px;
    width: 110vw;
    background-image: url("../img/brosla-bg-pc.png");
  }
}
@media (min-width: $tablet) {
  .hero::after {
    top: -10px;
    transform: rotate(-3.08deg);
    height: 100vh;
    opacity: 0.4;
  }
}
@media (min-width: $min-pc) {
  .hero::after {
    top: -10px;
    width: 1180px;
    height: 120vh;
  }
}
@media (min-width: $pc) {
  .hero::after {
    top: -286px;
    left: 309px;
    width: 1686px;
    height: 1959px;
    transform: rotate(3.08deg);
    background-size: contain;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(10px, -15px);
  }
  40% {
    transform: translate(-15px, 10px);
  }
  60% {
    transform: translate(20px, -10px);
  }
  80% {
    transform: translate(-10px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatChaoticMobile {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(5px, -5px);
  }
  40% {
    transform: translate(-5px, 5px);
  }
  60% {
    transform: translate(5px, -5px);
  }
  80% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.hero {
  margin-bottom: 130px;
}

@media (min-width: $tablet) {
  .hero {
    height: 100vh;
    margin-bottom: 0;
  }
}

.hero__container.hero-container {
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: $mobile) {
  .hero__container.hero-container {
    padding-top: 205px;
    gap: 90px;
  }
}
@media (min-width: $tablet) {
  .hero__container.hero-container {
    padding-top: 150px;
    gap: 70px;
  }
}
@media (min-width: $min-pc) {
  .hero__container.hero-container {
    height: 96vh;
    padding-top: 10px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: normal;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .hero__thumb-logo-box {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 92px;
  }
}

.hero__thumb-logo {
  position: relative;
  width: 320px;
  height: 320px;
  margin-bottom: 70px;
  z-index: 15;
}
@media (min-width: $mobile) {
  .hero__thumb-logo {
    width: 500px;
    height: 500px;
    margin-bottom: 0;
  }
}
@media (min-width: $tablet) {
  .hero__thumb-logo {
    width: 600px;
    height: 600px;
  }
}
@media (min-width: $pc) {
  .hero__thumb-logo {
    width: 934px;
    height: 934px;
  }
}

.hero__thumb-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 320px;
  background-image: url("../img/logo-bg-mb.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(20px);
}
@media (min-width: $mobile) {
  .hero__thumb-logo::before {
    width: 600px;
    height: 600px;
  }
}
@media (min-width: $pc) {
  .hero__thumb-logo::before {
    width: 934px;
    height: 934px;
  }
}

.hero__thumb-logo > img {
  width: 100%;
  height: 100%;
}

.hero__body {
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .hero__body {
    max-width: 502px;
  }
}

.subtitle.hero__subtitle {
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media (min-width: $pc) {
  .subtitle.hero__subtitle {
    margin-bottom: 40px;
  }
}

.hero__lead-text {
  margin-bottom: 15px;

  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
}
@media (min-width: $tablet) {
  .hero__lead-text {
    margin-bottom: 25px;

    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

.hero__lead-description {
  max-width: 319px;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(17.07px / 14px);
}
@media (min-width: $tablet) {
  .hero__lead-description {
    max-width: 100%;
    font-size: 22px;
    line-height: calc(26.82px / 22px);
  }
}

.hero__footer {
  width: 268px;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: $mobile) {
  .hero__footer {
    margin-right: auto;
    margin-left: 0;
  }
}
@media (min-width: $tablet) {
  .hero__footer {
    margin-right: 0;
  }
}

// ============================================================================================
.examples {
  padding-bottom: 130px;
}
@media (min-width: $mobile) {
  .examples {
    padding-top: 180px;
  }
}
@media (min-width: $tablet) {
  .examples {
    padding-top: 130px;
    padding-bottom: 70px;
  }
}
@media (min-width: $min-pc) {
  .examples {
    padding-top: 100px;
    padding-bottom: 250px;
  }
}

.examples__content {
  max-width: 979px;
}

.title.examples__title {
  margin-bottom: 15px;
}
@media (min-width: $min-pc) {
  .title.examples__title {
    font-size: 15px;
    line-height: calc(18.29px / 15px);
    color: #ffffff; // Білий текст
    background: none; // Відміняємо градієнт
    -webkit-background-clip: unset; // Скасовуємо кліп
    -webkit-text-fill-color: unset; // Відміняємо прозорість тексту
    background-clip: unset;
    text-fill-color: unset;
  }
}

.subtitle.examples__subtitle {
  max-width: 285px;
  margin-bottom: 40px;
  background: linear-gradient(329.9deg, #ffffff 6.92%, #b0201e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Для Firefox версій 88 і вище */
  background-clip: text;
  text-fill-color: transparent;
}
@media (min-width: $mobile) {
  .subtitle.examples__subtitle {
    max-width: 100%;
    margin-bottom: 35px;
    background: linear-gradient(90deg, #ffffff 0%, #b0201e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Для Firefox версій 88 і вище */
    background-clip: text;
    text-fill-color: transparent;
  }
}
@media (min-width: $min-pc) {
  .subtitle.examples__subtitle {
    font-size: 48px;
    line-height: calc(57.6px / 48px);
  }
}

.examples__description {
  max-width: 343px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: calc(17.07px / 14px);
}
@media (min-width: $mobile) {
  .examples__description {
    max-width: none;
    font-size: 22px;
    line-height: calc(26.82px/22px);
    margin-bottom: 30px;
  }
}
.examples__accent-text {
  font-weight: 600;
  font-style: italic;
}

.examples__slider {
  margin-top: 60px;
}
.examples__wrapper.swiper-wrapper {
  margin-bottom: 50px;
}

.examples__slide {
  height: 626px;
  max-height: 626px;
  padding: 12px;
  border-radius: 5px;
  background-color: $main-color;
}
@media (min-width: $mobile) {
  .examples__slide {
    height: 636px;
    max-height: 636px;
  }
}
@media (min-width: $tablet) {
  .examples__slide {
    position: relative;
    width: 1350px;
    max-height: none;
    height: auto;
    padding: 32px;
    overflow: hidden;
  }
}
.examples__slide-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: $tablet) {
  .examples__slide-content {
    width: 860px;
    flex-direction: row;
    gap: 36px;
  }
}
@media (min-width: $min-pc) {
  .examples__slide-content {
    width: 100%;
    align-items: flex-end;
  }
}

.examples__slide-thumb {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
  background-color: #141313;
  border-radius: 3px;
}
@media (min-width: $mobile) {
  .examples__slide-thumb {
    height: 390px;
  }
}
@media (min-width: $tablet) {
  .examples__slide-thumb {
    width: 425px;
    min-width: 425px;
    border-radius: 5px;
  }
}
@media (min-width: $min-pc) {
  .examples__slide-thumb {
    width: 625px;
    min-width: 625px;
    height: 515px;
    border-radius: 5px;
  }
}
@media (min-width: $pc) {
  .examples__slide-thumb {
    width: 725px;
    min-width: 725px;
    height: 615px;
    border-radius: 5px;
  }
}

.examples__slide-thumb::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #14131343;
  z-index: 30;
}

.examples__slide-thumb-label {
  position: absolute;
  left: -15px;
  width: 100%;
  z-index: 10;
}
@media (min-width: $tablet) {
  .examples__slide-thumb-label {
    width: 100%;
    left: auto;
  }
}

.examples__slide-thumb-img {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 328px;
  height: 241px;
  z-index: 20;
  transition: all 0.8s ease;
}
@media (min-width: $mobile) {
  .examples__slide-thumb-img {
    top: 20px;
    left: 20px;
    width: 633px;
    height: 350px;
  }
}
@media (min-width: $tablet) {
  .examples__slide-thumb-img {
    top: 32px;
    left: 32px;
    width: 561px;
    height: 451px;
  }
}

.examples__slide:hover .examples__slide-thumb-img {
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
}

.examples__slide-thumb-label > img,
.examples__slide-thumb-img img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (min-width: $tablet) {
  .examples__slide-info {
    max-width: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: $min-pc) {
  .examples__slide-info {
    padding-bottom: 70px;
  }
}

.examples-slide-info__top {
  margin-bottom: 35px;
}
@media (min-width: $min-pc) {
  .examples-slide-info__top {
    margin-bottom: 90px;
  }
}

.title.examples-slide-info__title {
  margin-bottom: 15px;
  color: $second-color;
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: $second-color;
  background-clip: initial;
  text-transform: uppercase;
}
@media (min-width: $tablet) {
  .title.examples-slide-info__title {
    font-size: 15px;
    line-height: calc(18.29 / 15);
    font-weight: 500;
    color: $second-color;
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: $second-color;
    background-clip: initial;
  }
}

.examples-slide-info__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24.38 / 20);
  color: $second-color;
}
@media (min-width: $tablet) {
  .examples-slide-info__subtitle {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: calc(36.57 / 30);
  }

  .examples-slide-info__subtitle.slide2 {
    max-width: 382px;
  }
}

.examples-slide-info__description {
  font-size: 14px;
  line-height: calc(17.07 / 14);
  color: $second-text-color;
}
@media (min-width: $tablet) {
  .examples-slide-info__description {
    font-size: 18px;
    line-height: calc(21.94 / 18);
  }
}
@media (min-width: $min-pc) {
  .examples-slide-info__description {
    height: 110px;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
    transition:
      transform 0.8s ease,
      opacity 0.4s ease;
  }

  .examples__slide:hover .examples-slide-info__description {
    transform: translateY(0);
    opacity: 1;
  }
}

.examples-slide-info__down {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}
@media (min-width: $tablet) {
  .examples-slide-info__down {
    margin-left: 18px;
    margin-right: auto;
  }
}
.examples-slide-button {
  font-weight: 600;
  font-size: 15px;
  line-height: calc(18.29 / 15);
  color: $second-color;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: $tablet) {
  .examples-slide-button {
    font-weight: 700;
  }
}
.examples-slide-button-icon {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 152px;
  height: 40px;
  color: $accent-color;
  z-index: -1;
}

.examples-slide-button-icon-svg {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  color: $accent-color;

  transition:
    stroke-width 1s,
    stroke-dashoffset 1s,
    stroke-dasharray 1s;
}
.examples-slide-info__down:hover .examples-slide-button-icon-svg {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.examples__swiper-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.examplex__swiper-button-prev,
.examplex__swiper-button-next {
  cursor: pointer;
}
.examplex__swiper-button-prev.swiper-button-prev.swiper-button-disabled
  .examples__swiper-button-icon {
  color: $main-color;
}
.examplex__swiper-button-next.swiper-button-next.swiper-button-disabled
  .examples__swiper-button-icon {
  color: $main-color;
}

.examples__swiper-button-icon {
  width: 38px;
  height: 22px;
  color: $accent-color;
}

.examples__swiper-navigation-text {
  font-size: 12px;
  line-height: calc(14.63 / 12);
  color: $main-color;
}
@media (min-width: $tablet) {
  .examples__swiper-navigation-text {
    font-size: 18px;
    line-height: calc(21.94 / 18);
  }
}

// =====================================================================================
.services {
  padding-bottom: 130px;
  padding-top: 80px;
}
@media (min-width: $mobile) {
  .services {
    padding-top: 180px;
  }
}
@media (min-width: $tablet) {
  .services {
    padding-bottom: 70px;
    padding-top: 130px;
  }
}
@media (min-width: $min-pc) {
  .services {
    padding-top: 0;
    padding-bottom: 250px;
  }
}

.services__container {
  margin-bottom: 60px;
}
@media (min-width: $tablet) {
  .services__container {
    margin-bottom: 110px;
  }
}

@media (min-width: $tablet) {
  .services .features__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    //
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}

.title.services__title {
  margin-bottom: 15px;
  color: $main-color;
  text-transform: uppercase;
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: $main-color;
  background-clip: initial;
}
@media (min-width: $tablet) {
  .title.services__title {
    font-size: 15px;
    line-height: calc(18.29px / 15px);
  }
}

.services__subtitle {
  max-width: 344px;
  margin-bottom: 40px;
  font-family: Mattone;
  font-size: 30px;
  line-height: calc(36 / 30);
}
@media (min-width: $tablet) {
  .services__subtitle {
    max-width: 746px;
    margin-bottom: 35px;
    font-size: 48px;
    line-height: calc(57.6 / 48);
  }
}

@media (min-width: 490px) {
  .mobile-break {
    display: none;
  }
}

.services__description {
  font-size: 14px;
  line-height: calc(17.07 / 14);
}
@media (min-width: $tablet) {
  .services__description {
    font-size: 22px;
    line-height: calc(26.82 / 22);
    max-width: 1056px;
  }
}
.services__description-accent {
  font-weight: 600;
  font-style: italic;
}

.features__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.features__slide {
  width: 100%;
  height: 530px;
  display: block;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  border-radius: 10px;
  transition: width 0.7s ease;
}

@media (min-width: $tablet) {
  .features__slide {
    width: calc(100% / 3);
    height: 600px;
    display: block;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    border-radius: 0;
    transition: width 0.7s ease;
  }
}

@media (min-width: $tablet) {
  .features__slide:hover {
    width: 100%;
  }

  .features__slide.hidden {
    width: 0;
  }
}

.features__slide.features__slide1 {
  background-image: url("../img/servies1-large.png");
}
.features__slide.features__slide2 {
  background-image: url("../img/servies2-large.png");
}
.features__slide.features__slide3 {
  background-image: url("../img/servies3-large.png");
}

.slide-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(18, 18, 18, 0.7);
  padding: 41px 20px 68px 20px;
  height: 100%;
  width: 100%;
}
@media (min-width: $tablet) {
  .slide-link {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    padding: 51px 81px 126px 81px;
    height: 100%;
    width: calc(100% / 3);
    z-index: 2;
  }
}

.features__slide.features__slide1 > .slide-link {
  left: 0;
}
@media (min-width: $tablet) {
  .features__slide.features__slide1 > .slide-link {
    left: 0;
    border-right: 1px solid hsla(0, 0%, 100%, 0.3);
  }
}

.features__slide.features__slide2 > .slide-link {
  left: 33.3%;
}
@media (min-width: $tablet) {
  .features__slide.features__slide2 > .slide-link {
    left: 33.3%;
    border-right: 1px solid hsla(0, 0%, 100%, 0.3);
  }
}

.features__slide.features__slide3 > .slide-link {
  left: 66.6%;
  border-right: none;
}

.img-wrapper {
  display: none;
  overflow: hidden;
  position: relative;
  flex: 0 0 25%;
  margin-right: 16px;
}

.img-wrapper > img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.25s ease;
}

.copy {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features__number {
  margin-bottom: 47px;
  font-family: Mattone;
  font-size: 30px;
  line-height: calc(36 / 30);
}
@media (min-width: $tablet) {
  .features__number {
    margin-bottom: 90px;
  }
}
.features__name {
  margin-bottom: 35px;
  font-family: Mattone;
  font-size: 30px;
  line-height: calc(36 / 30);
}
@media (min-width: $tablet) {
  .features__name {
    margin-bottom: 50px;
  }
}

.features__description {
  max-width: 304px;
  font-size: 14px;
  line-height: calc(17.07 / 16);
}
@media (min-width: $mobile) {
  .features__description {
    display: none;
  }

  .features__slide:hover .features__description {
    max-width: 404px;
    display: block;
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInUp 0.7s ease-in-out forwards;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.features__description-accent {
  font-weight: 700;
}

.features__button-pc-icon {
  width: 40px;
  height: 10px;
  color: $main-color;
  transition: transform 0.5s ease;
}

.features__button-pc-icon:hover {
  transform: translateX(20%);
}

.features__button-pc-icon-svg {
  display: none;
}
@media (min-width: $tablet) {
  .features__button-pc-icon-svg {
    display: block;
  }
}

.features__button-text {
  position: relative;
  top: -25px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 22.35px;
  line-height: calc(27.25px / 22.35px);
  color: $main-color;
  text-transform: uppercase;
}
@media (min-width: $tablet) {
  .features__button-text {
    display: none;
  }
}

.features__button-text-icon {
  width: 120px;
  height: 70px;
  position: absolute;
  top: -20px;
  left: -30px;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  color: $accent-color;

  transition:
    stroke-width 1s,
    stroke-dashoffset 1s,
    stroke-dasharray 1s;
}

.features__button-text:hover .features__button-text-icon {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

// ========================================================================================
.partners {
  padding-bottom: 130px;
  padding-top: 140px;
}
@media (min-width: $mobile) {
  .partners {
    padding-top: 180px;
  }
}
@media (min-width: $tablet) {
  .partners {
    padding-bottom: 70px;
    padding-top: 130px;
  }
}
@media (min-width: $min-pc) {
  .partners {
    padding-top: 0;
    padding-bottom: 236px;
  }
}

.partners__content-top {
  margin-bottom: 80px;
}
@media (min-width: $mobile) {
  .partners__content-top {
    margin-bottom: 180px;
  }
}

.partners__thumb-title {
  width: 100%;
  height: 148px;
}
@media (min-width: $mobile) {
  .partners__thumb-title {
    width: 600px;
    height: 348px;
    margin-bottom: 5px;
  }
}
.partners__thumb-title > img {
  width: 100%;
  height: 100%;
}

.partners__description {
  display: none;
}
@media (min-width: $mobile) {
  .partners__description {
    max-width: 560px;
    display: block;
    padding-left: 25px;
    color: $main-color;
    background: linear-gradient(
      74.55deg,
      #ffffff -0.43%,
      rgba(140, 27, 27, 0.92) 110.5%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Для Firefox версій 88 і вище */
    background-clip: text;
    text-fill-color: transparent;
  }
}

@media (min-width: $mobile) {
  .partners__slider.partners__swiper {
    display: flex;
    height: 738px;
    overflow: hidden;
  }
}

.partners__wrapper.swiper-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 88px;
}
@media (min-width: $mobile) {
  .partners__wrapper.swiper-wrapper {
    row-gap: 100px;
  }
}

.partners__slide.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: $mobile) {
  .partners__slide.swiper-slide {
    justify-content: space-around;
  }
}
@media (min-width: $tablet) {
  .partners__slide.swiper-slide {
    width: 790px;
    margin-right: auto;
    margin-left: auto;
    max-width: 790px;
    display: flex;
    align-items: center;
    justify-content: normal;
  }
}

.partners__slide-content {
  width: fit-content;
}
@media (min-width: $tablet) {
  .partners__slide-content {
    flex: 1;
  }
}

.partners__slide-icon {
  width: 156px;
  height: 83px;
  color: $main-color;
}
@media (min-width: $mobile) {
  .partners__slide-icon.margin {
    margin-left: auto;
  }
}
.partners__slide-icon.partners__slide4 {
  width: 137px;
  height: 137px;
}
.partners__slide-icon.partners__slide6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners__slide-icon.partners__slide7 {
  height: fit-content;
}

.swiper-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid $accent-color;
}
.swiper-pagination-bullet-active {
  background-color: $accent-color;
}

// ========================================================================================================

.video {
  padding-bottom: 130px;
  padding-top: 110px;
}
@media (min-width: $mobile) {
  .video {
    padding-top: 180px;
  }
}
@media (min-width: $tablet) {
  .video {
    padding-top: 130px;
    padding-bottom: 70px;
  }
}
@media (min-width: $min-pc) {
  .video {
    padding-top: 0;
    padding-bottom: 295px;
  }
}

.video__content-top {
  margin-bottom: 40px;
}
@media (min-width: $mobile) {
  .video__content-top {
    margin-bottom: 108px;
  }
}

.video__thumb-title {
  width: 100%;
  height: 244px;
  margin-bottom: 47px;
  background-image: url(../img/VIDEO.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: $mobile) {
  .video__thumb-title {
    width: 100%;
    background-image: url(../img/VIDEO-pc.png);
  }
}
@media (min-width: $tablet) {
  .video__thumb-title {
    width: 869px;
    height: 230px;
  }
}

@media (min-width: $mobile) {
  .video__description-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
  }
}
@media (min-width: $tablet) {
  .video__description-box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.video__description {
  max-width: 340px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: calc(17.07 / 14);
  color: $main-color;
  background: linear-gradient(290.68deg, #ffffff 47.7%, #a81c1c 105.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Для Firefox версій 88 і вище */
  background-clip: text;
  text-fill-color: transparent;
}
@media (min-width: $mobile) {
  .video__description {
    max-width: 833px;
    margin-right: 0;
    margin-left: 0;
    font-size: 22px;
    line-height: calc(26.28 / 22);
    color: $main-color;
    background: linear-gradient(290.68deg, #ffffff 47.7%, #a81c1c 105.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Для Firefox версій 88 і вище */
    background-clip: text;
    text-fill-color: transparent;
  }
}

.video__title {
  display: none;
}
@media (min-width: $mobile) {
  .video__title {
    display: block;
    font-weight: 500;
    font-size: 30;
    line-height: calc(36 / 30);
    text-transform: uppercase;
  }
}
.block__content.video__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px 15px;
  margin-bottom: 35px;

  overflow: hidden;
  transition: height 0.3s ease;
}
@media (min-width: $mobile) {
  .block__content.video__list {
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 100px;
  }
}
.video__item {
  width: fit-content;
}
@media (min-width: $mobile) {
  .video__item {
    width: calc((100% - 70px) / 4);
  }
}

.video__video-box {
  margin-bottom: 20px;
}
@media (min-width: $min-pc) {
  .video__video-box {
    margin-bottom: 40px;
  }
}

.video__item-thumb {
  width: 165px;
  height: 280px;
}
@media (min-width: $mobile) {
  .video__item-thumb {
    width: 100%;
    height: 280px;
  }
}
@media (min-width: $tablet) {
  .video__item-thumb {
    height: 400px;
  }
}
@media (min-width: $min-pc) {
  .video__item-thumb {
    height: 600px;
  }
}
@media (min-width: $pc) {
  .video__item-thumb {
    height: 700px;
  }
}

.video__item-thumb > video {
  display: block;
  width: 100%;
  height: 100%;
}

.video__item-name {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(14.63 / 12);
  text-transform: uppercase;
}
@media (min-width: $tablet) {
  .video__item-name {
    font-size: 16px;
    line-height: calc(26.82 / 16);
  }
}
@media (min-width: $min-pc) {
  .video__item-name {
    font-size: 22px;
    line-height: calc(26.82 / 22);
  }
}

.video__button-box {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 10px;
}
@media (min-width: $mobile) {
  .video__button-box {
    padding: 15px;
    padding-bottom: 10px;
  }
}
.block__more.video__button {
  position: relative;
  z-index: 10;
}
.video__button-ring-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $accent-color;
}
.video__button-icon {
  width: 19px;
  height: 19px;
  color: $main-color;
}
.video__button-icon:nth-child(2) {
  display: none;
}
@media (min-width: $mobile) {
  .video__button-icon {
    width: 35px;
    height: 35px;
  }
}

.video__button-ring-icon-svg {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  color: $accent-color;

  transition:
    stroke-width 1s,
    stroke-dashoffset 1s,
    stroke-dasharray 1s;
}

.video__button-box:hover .video__button-ring-icon-svg {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

// ==================================================================================================
.photoshoots {
  padding-bottom: 130px;
}
@media (min-width: $mobile) {
  .photoshoots {
    padding-top: 180px;
    padding-bottom: 250px;
  }
}
@media (min-width: $tablet) {
  .photoshoots {
    padding-top: 130px;
  }
}
@media (min-width: $tablet) {
  .photoshoots {
    padding-top: 0;
  }
}

.photoshoots__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (min-width: 1300px) {
  .photoshoots__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
}

.photoshoots__thumb {
  width: 100%;
  height: 570px;
  border-radius: 3px;
  overflow: hidden;
}
@media (min-width: $mobile) {
  .photoshoots__thumb {
    width: 700px;
    min-width: 700px;
    height: 770px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: $min-pc) {
  .photoshoots__thumb {
    width: 100%;
    min-width: 700px;
    position: sticky;
    top: 0;
    align-self: flex-start;
    min-height: 100vh;
    height: 100vh;
  }
}
@media (min-width: $pc) {
  .photoshoots__thumb {
    width: 880px;
    min-width: 880px;
    height: 1200px;
    margin-left: 0;
    margin-right: 0;
  }
}
.photoshoots__thumb > img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1300px) {
  .photoshoots__examples {
    padding-top: 45px;
  }
}
@media (min-width: $pc) {
  .photoshoots__examples {
    max-width: 830px;
  }
}

.photoshoots__thumb-title {
  width: 100%;
  height: 131px;
  margin-bottom: 30px;
  overflow: hidden;
}
@media (min-width: $mobile) {
  .photoshoots__thumb-title {
    width: 100%;
    height: 257px;
    margin-bottom: 60px;
  }
}
.photoshoots__thumb-title > img {
  width: 100%;
  height: 100%;
}

.photoshoots__description {
  margin-bottom: 60px;
  font-size: 16px;
  line-height: calc(17.07 / 16);
  text-align: center;
  color: $main-color;
  background: linear-gradient(356.87deg, #ffffff -42.28%, #9b3131 136.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Для Firefox версій 88 і вище */
  background-clip: text;
  text-fill-color: transparent;
}
@media (min-width: $mobile) {
  .photoshoots__description {
    margin-bottom: 90px;
    font-size: 22px;
    line-height: calc(26.82 / 22);
    text-align: left;
  }
}

.photoshoots__examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px 21px;
}
@media (min-width: $mobile) {
  .photoshoots__examples-list {
    gap: 50px;
  }
}

.photoshoots__examples-item {
  width: calc((100% / 2) - (21px / 2));
  height: 230px;
  overflow: hidden;
  position: relative;
}
@media (min-width: $mobile) {
  .photoshoots__examples-item {
    width: calc((100% / 2) - (50px / 2));
    height: 555px;
    transition: transform 0.3 ease-in-out;
  }
}
@media (min-width: $pc) {
  .photoshoots__examples-item {
    width: calc((100% / 2) - (50px / 2));
    max-width: 390px;
    height: 555px;
  }
}

.photoshoots__examples-item {
  width: calc((100% / 2) - (21px / 2));
  height: 230px;
  overflow: hidden;
  position: relative;
}

@media (min-width: $mobile) {
  .photoshoots__examples-item {
    width: calc((100% / 2) - (50px / 2));
    height: 555px;
  }
}

@media (min-width: $pc) {
  .photoshoots__examples-item {
    width: calc((100% / 2) - (50px / 2));
    max-width: 390px;
    height: 555px;
  }
}

.photoshoots__examples-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photoshoots__examples-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  z-index: -1;
}

.photoshoots__examples-link:hover::before {
  transform: scale(1.1);
}

.photoshoots__examples-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 1;
}

.examples1::before {
  background-image: url("../img/photoshoots1.png");
}
.examples2::before {
  background-image: url("../img/photoshoots2.png");
}
.examples3::before {
  background-image: url("../img/photoshoots3.png");
}
.examples4::before {
  background-image: url("../img/photoshoots4.png");
}
.examples5::before {
  background-image: url("../img/photoshoots5.png");
}
.examples6::before {
  background-image: url("../img/photoshoots6.png");
}
.examples7::before {
  background-image: url("../img/photoshoots7.png");
}
.examples8::before {
  background-image: url("../img/photoshoots8.png");
}

.photoshoots__examples-item-content {
  position: relative;
  z-index: 10;
  transform: translateY(150px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 24px;
  transition: transform 1s ease;
}

.photoshoots__examples-link:hover .photoshoots__examples-item-content {
  transform: translateY(0);
}

.photoshoots__examples-item-name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19.5 / 16);
  text-transform: capitalize;
}
@media (min-width: $mobile) {
  .photoshoots__examples-item-name {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: calc(48.76 / 40);
  }
}

.photoshoots__examples-item-description {
  font-size: 6px;
  line-height: calc(7.31 / 6);
  text-transform: uppercase;
}
@media (min-width: $mobile) {
  .photoshoots__examples-item-description {
    font-size: 16px;
    line-height: calc(19.5 / 16);
  }
}

// ============================================================================================================
.package {
  padding-bottom: 130px;
  padding-top: 120px;
}
@media (min-width: $mobile) {
  .package {
    padding-top: 180px;
    padding-bottom: 250px;
  }
}
@media (min-width: $tablet) {
  .package {
    padding-top: 130px;
  }
}
@media (min-width: $min-pc) {
  .package {
    padding-top: 70px;
  }
}

@media (min-width: $tablet) {
  .package__content {
    display: flex;
    justify-content: space-around;
    gap: 48px;
  }
}

.package__overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (min-width: $mobile) {
  .package__overview {
    gap: 140px;
  }
}
@media (min-width: $tablet) {
  .package__overview {
    max-width: 801px;
  }
}

.package__overview-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (min-width: $mobile) {
  .package__overview-top {
    gap: 100px;
  }
}

.package-title {
  max-width: 345px;
  margin-bottom: 20px;
  font-family: Mattone;
  font-size: 30px;
  line-height: calc(36px / 30px);
  text-transform: uppercase;
}
@media (min-width: $mobile) {
  .package-title {
    max-width: none;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: calc(57.6px / 48px);
  }
}

@media (min-width: $mobile) {
  .package-title.undertitle {
    max-width: 552px;
  }
}

.package-subtitle {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17.07px / 14px);
  text-transform: uppercase;
}
@media (min-width: $mobile) {
  .package-subtitle {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: calc(36.57px / 30px);
  }
}

.package-offer-thumb {
  width: 156px;
  height: 64px;
  margin-bottom: 20px;
}
@media (min-width: $mobile) {
  .package-offer-thumb {
    width: 207px;
    height: 85px;
  }
}
.package-offer-thumb > img {
  width: 100%;
  height: 100%;
}

.package-offer-thumb.thumb-bg {
  width: 234px;
  height: 130px;
  background-image: url(../img/package-reels-mb.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: $mobile) {
  .package-offer-thumb.thumb-bg {
    width: 596px;
    height: 90px;
    background-image: url(../img/package-reels.png);
  }
}

.package-description {
  max-width: 345px;
  font-size: 14px;
  line-height: calc(17.07px / 14px);
}
@media (min-width: $mobile) {
  .package-description {
    max-width: 700px;
    margin-bottom: 60px;
    font-size: 22px;
    line-height: calc(26.82px / 22px);
    text-align: justify;
  }
}

.package__overview-info-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.package__overview-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (min-width: $tablet) {
  .package__overview-bottom {
    gap: 110px;
  }
}

@media (min-width: $tablet) {
  .package__attention {
    max-width: 707px;
    position: sticky;
    top: 200px;
    align-self: flex-start;
    max-height: 100vh;
  }
}

@media (min-width: $tablet) {
  .package-title.attention-title {
    font-size: 30px;
    line-height: calc(36px / 30px);
  }
}

@media (min-width: $mobile) {
  .package__overview-spoiler-box {
    max-width: 700px;
  }
}

.package__overview-spoiler {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.spollers__item {
  cursor: pointer;
}

.package__spoiler-title-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
}
.package__spoiler-title-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #ffffff 0%, #b0201e 100%);
}

@media (min-width: $mobile) {
  .package__spoiler-title-box {
    padding-bottom: 30px;
  }
}

@media (min-width: $mobile) {
  .package__spoiler-title-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $main-color;
  }
}

.package__spoiler-title {
  font-weight: 500;
  font-size: 15px;
  line-height: calc(17.71px / 15px);
  text-transform: uppercase;
}
@media (min-width: $mobile) {
  .package__spoiler-title {
    font-size: 30px;
    line-height: calc(36px / 30px);
  }
}

.package__spoiler-icon {
  width: 15px;
  height: 15px;
  color: $accent-color;
}
@media (min-width: $mobile) {
  .package__spoiler-icon {
    width: 32px;
    height: 32px;
  }
}

.package__spoiler-body-box {
  padding-top: 30px;
}
@media (min-width: $mobile) {
  .package__spoiler-body-box {
    padding-top: 40px;
  }
}

.package__spoiler-body-text {
  font-size: 14px;
  line-height: calc(17.07px / 14px);
  text-align: justify;
}
@media (min-width: $mobile) {
  .package__spoiler-body-text {
    font-size: 22px;
    line-height: calc(26.82px / 22px);
  }
}

.package__spoiler-body-text > span.accent {
  font-weight: 600;
  font-style: italic;
}

.package__spoiler-body-text.margin {
  margin-bottom: 20px;
}

@media (min-width: $mobile) {
  .package__overview-button {
    width: 320px;
  }
}

.package__overview-button .button {
  padding-top: 21px;
  padding-bottom: 21px;
}
@media (min-width: $mobile) {
  .package__overview-button .button {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.package__overview-button .button-text {
  font-size: 20px;
  line-height: calc(24.38px / 20px);
}
@media (min-width: $mobile) {
  .package__overview-button .button-text {
    font-size: 30px;
    line-height: calc(36.57px / 30px);
  }
}

.package__overview-benefits-box {
  margin-top: 60px;
}
@media (min-width: $mobile) {
  .package__overview-benefits-box {
    margin-top: 120px;
  }
}

.package__overview-benefits {
  font-family: Mattone;
  font-size: 14px;
  line-height: calc(25px / 14px);
  text-transform: uppercase;
}
@media (min-width: $mobile) {
  .package__overview-benefits {
    max-width: 1300px;
    font-size: 30px;
    line-height: calc(45px / 30px);
  }
}

// ===========================================================================================
.pre-footer {
  position: relative;
  padding-top: 100px;
  padding-bottom: 120px;
}
@media (min-width: $mobile) {
  .pre-footer {
    padding-top: 180px;
    padding-bottom: 250px;
  }
}
@media (min-width: $tablet) {
  .pre-footer {
    padding-top: 130px;
  }
}
@media (min-width: $min-pc) {
  .pre-footer {
    padding-top: 0;
  }
}
@media (max-width: $tablet) {
  .pre-footer__bg-thumb {
    display: none;
  }
}

@media (min-width: $min-pc) {
  .pre-footer__bg-thumb {
    position: absolute;
    display: block;
    top: -285px;
    right: 0;
    width: 110%;
    z-index: -10;
    transform: rotate(-3.08deg);
    opacity: 0.4;
  }
}

.pre-footer__bg-thumb > img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: $pc) {
  .pre-footer__bg-thumb {
    width: 90%;
    height: 120%;
    right: 170px;
  }
}

.pre-footer__images-box {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: $tablet) {
  .pre-footer__images-box {
    margin-bottom: 80px;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}
@media (min-width: $min-pc) {
  .pre-footer__images-box {
    gap: 100px;
  }
}

.pre-footer__images-thumb {
  width: 100%;
  height: 345px;
  border-radius: 5px;
  overflow: hidden;
}
@media (min-width: $mobile) {
  .pre-footer__images-thumb {
    width: 630px;
    height: 630px;
    transition: transform 0.3s ease-in-out;
  }
}

.pre-footer__images-thumb > img {
  width: 100%;
  height: 100%;
}
@media (min-width: $mobile) {
  .pre-footer__images-thumb > img {
    transition: transform 0.3s ease-in-out;
  }

  .pre-footer__images-thumb:hover img {
    transform: scale(1.1);
  }
}

.pre-footer__description {
  font-size: 14px;
  line-height: calc(17.07px / 14px);
  opacity: 0;
  transform: translateY(20px);
  transition:
    transform 0.6s ease-out,
    opacity 0.6s ease-out;
}
@media (min-width: $mobile) {
  .pre-footer__description {
    max-width: 833px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 22px;
    line-height: calc(26.82px / 22px);
  }
}

.pre-footer__description .accent {
  font-weight: 600;
  font-style: italic;
}

.pre-footer__description.visible {
  opacity: 1;
  transform: translateY(0);
}

.pre-footer__description.hidden {
  opacity: 0;
  transform: translateY(20px);
}

// ===========================================================================================

@media (min-width: $min-pc) {
  .bullets-container {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $accent-color;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .bullet:hover {
    background-color: $accent-color;
  }

  .bullet.active {
    background-color: $accent-color;
  }
}
