@media (min-width: $mobile) {
  .wrapper.wrapper__services-page::before {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: $tablet) {
  .wrapper.wrapper__services-page .page {
    padding-top: 153px;
  }
}

.web-services {
  padding-top: 84px;
  padding-bottom: 130px;
}

@media (min-width: $mobile) {
  .web-services {
    display: flex;
    gap: 60px;
    padding-top: 160px;
    padding-bottom: 205px;

    & > * {
      flex: 1;
    }
  }
}
@media (min-width: $tablet) {
  .web-services {
    padding-top: 100px;
  }
}
@media (min-width: $min-pc) {
  .web-services {
    padding-top: 0;
    gap: 70px;
  }
}

.web-services__thumb-bg {
  position: absolute;
  top: 15px;
  left: -30px;
  width: 507px;
  height: 600px;
  transform: rotate(-3.54deg);
  opacity: 0.6;
}
.web-services__thumb-bg img{
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: $mobile) {
  .web-services__thumb-bg {
    top: 105px;
    width: 110%;
    height: 750px;
  }
}

@media (min-width: $tablet) {
  .web-services__thumb-bg {
    top: 70px;
    left: -70px;
    height: 950px;
  }
}

@media (min-width: $min-pc) {
  .web-services__thumb-bg {
    top: 110px;
    right: 0;
    left: auto;
    width: 60%;
    height: 800px;
  }
}

@media (min-width: $mobile) {
  .web-services__container {
    padding-top: 50px;
  }
}

@media (min-width: $min-pc) {
  .web-services__container {
    .hero__thumb-logo{
      width: 500px;
      height: 500px;
    }
  }
}

@media (min-width: $pc) {
  .web-services__container {
    .hero__thumb-logo{
      width: 665px;
      height: 665px;
    }
  }
}

.hero__thumb-logo-box.services__thumb-logo-box{
  display: flex;
  justify-content: center;
}
@media (min-width: $mobile) {
  .hero__thumb-logo-box.services__thumb-logo-box{
    margin-bottom: 168px;
  }
}

.web-services__thumb {
  width: 100%;
  height: 400px;
  margin-bottom: 80px;
  border-radius: 5px;
  overflow: hidden;
}
@media (min-width: $mobile) {
  .web-services__thumb {
    height: 1000px;
  }
}
@media (min-width: $min-pc) {
  .web-services__thumb {
    margin-bottom: 0;
    position: sticky;
    top: 0;
    align-self: flex-start; 
    min-height: 100vh; 
    height: 100vh;
    z-index: 50;
  }
}

.web-services__thumb > img {
  width: 100%;
  height: 100%;
}

.web-services__top-content {
  margin-bottom: 70px;
}
@media (min-width: $tablet) {
  .web-services__top-content {
    margin-bottom: 100px;
  }
}
@media (min-width: $min-pc) {
  .web-services__top-content {
    margin-bottom: 310px;
  }
}

.title.web-services__title {
  margin-bottom: 15px;
  font-weight: 500;

  text-transform: uppercase;
  color: $main-color;
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: #ffffff;
  background-clip: initial;
  text-fill-color: #ffffff;
}
@media (min-width: $mobile) {
  .title.web-services__title {
    font-size: 15px;
    line-height: calc(18.29px / 15px);
    color: $main-color;
    background: linear-gradient(52.95deg, #ffffff -61.54%, #b0201e 121.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Для Firefox версій 88 і вище */
    background-clip: text;
    text-fill-color: transparent;
  }
}

.web-services__description {
  max-width: 319px;
  margin-bottom: 60px;
  font-family: Mattone;
  font-size: 20px;
  line-height: calc(24px / 20px);
  background: linear-gradient(178.29deg, #b0201e 0.86%, #ffffff 50.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Для Firefox версій 88 і вище */
  background-clip: text;
  text-fill-color: transparent;
}
@media (min-width: $mobile) {
  .web-services__description {
    max-width: 100%;
    margin-bottom: 80px;
    font-size: 30px;
    line-height: calc(36px / 30px);
    background: linear-gradient(52.95deg, #ffffff -61.54%, #b0201e 121.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Для Firefox версій 88 і вище */
    background-clip: text;
    text-fill-color: transparent;
  }
}

@media (min-width: $mobile) {
  .web-services__features-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    & > * {
      flex: 1;
    }
  }
}

.web-services__features-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.web-services__features-boxes.top {
  position: relative;
  padding-bottom: 80px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.88) 0%,
      #b0201e 100%
    );
  }
}
@media (min-width: $mobile) {
  .web-services__features-boxes.top {
    position: relative;
    padding-bottom: 0;

    &::after {
      content: none;
    }
  }
}

.web-services__features-boxes.bottom {
  padding-top: 80px;
}
@media (min-width: $mobile) {
  .web-services__features-boxes.bottom {
    padding-top: 0;
  }
}

.web-services__features-text {
  font-weight: 300;
  font-size: 14px;
  line-height: calc(17.07px / 14px);
}
@media (min-width: $mobile) {
  .web-services__features-text {
    font-weight: 300;
    font-size: 22px;
    line-height: calc(26.82px / 22px);
  }
}

.web-services__features-text-accent {
  font-weight: 700;
}

.web-services__options-box {
  margin-bottom: 90px;
}
@media (min-width: $mobile) {
  .web-services__options-box {
    margin-bottom: 150px;
  }
}

.package__spoiler-body-box.options-box {
  width: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
}
@media (min-width: $mobile) {
  .package__spoiler-body-box.options-box {
    max-height: none;
    overflow: hidden;
  }
}

@media (min-width: $mobile) {
  .package__overview-spoiler.options__spoiler{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px 30px;
  }
}

@media (min-width: $pc) {
  .package__overview-spoiler.options__spoiler{
    gap: 110px 30px;
  }
}

@media (min-width: $mobile) {
  .spollers__item.options__item{
    width: calc((100%/2) - 30px);
  }
}

.package__spoiler-title.options-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24.38px / 20px);
  text-transform: none;
}
@media (min-width: $mobile) {
  .package__spoiler-title.options-title {
    font-size: 30px;
    line-height: calc(36.57px / 30px);
  }
}


.package__spoiler-body-text.options-text {
  font-weight: 300;
}

.options-text--accent {
  font-weight: 700;
}

.web-services__button{
  width: 268px;
  margin-right: auto;
  margin-left: auto;
}

.web-services__button > .button{
  padding-top: 23px;
  padding-bottom: 23px;
}

.examples.services-page, .photoshoots.services-page, .video.services-page{
  padding-top: 0;
}

@media (min-width: $mobile) {
  .examples.services-page, .photoshoots.services-page, .video.services-page{
    padding-top: 0;
  }
}

@media (min-width: $min-pc) {
  .examples.services-page, .photoshoots.services-page{
    padding-bottom: 250px;
  }

  .video.services-page{
    padding-bottom: 200px;
  }
}
